# trying to tell github how to recognize .verb files
#
# Forth seems to work best for syntax highlighting purposes,
# although verbii is not compatible with Forth in any way
*.verb  linguist-language=Forth

