*.a
*.o
*.exe
python/__pycache__/
c++/repl
csharp/bin/
csharp/obj/
unittests/RESULTS/c++/actual_demo_math.txt
unittests/RESULTS/csharp/actual_demo_math.txt
unittests/RESULTS/lua/actual_demo_math.txt
unittests/RESULTS/python/actual_demo_math.txt
csharp/repl.pdb
unittests/RESULTS/
new-python/__pycache__/
new-python/test-output/
bootstrap/test-output/
chicken/local-chicken/
*.import.scm
*.link
chicken/repl
chicken/PROFILE.*
chicken/bench_objs
verb/*.verb.b
unittests/*.verb.b 

c++/min
lib/patches.verb.b
c++/boot.verb.b
lua/temp-out.txt
c++/temp-out.txt
chicken/min
chicken/temp-out.txt
c++/*.verb.b
csharp/min.pdb
csharp/temp-out.txt
python/temp-out.txt
verb/temp-out.txt
c++/verbii
chicken/verbii
csharp/verbii
csharp/verbii.pdb
lib/repl.verb.b
verb/chess/*.verb.b
verb/.vscode/settings.json
reference/mersenne_twister_stdlib
reference/xoshiro128plusplus
verb/TEST-RESULTS/
c++/main
csharp/main.pdb
chicken/main
